*{
	margin: 0;
	padding:0;
}

body{
	font: 85%/1.2em Arial, Helvetica, sans-serif;
	color: #000;
	width:100%;
	background: #fff;
}

hr{
	border-top: #bfbcb3 dashed 1px;
	border-bottom: none;
}

div{
	width: 100%;
	padding: 0 29px;
	background: #fff7dc;
}

.main_area{
	background: #fff7dc;
}

.button_container{
		height: auto;
		padding: 28px 0px 28px 0px;
		line-height: 40px;

	}

	.button{
		color: #3b76da;
		padding: 0px 9px 0px 35px;
		margin-right: 23px;
		margin-bottom: 10px;
		border: 1px dotted #3b76da;
		border-radius: 5px;
		position: relative;
		display: inline-block;

		.ico{
			height: 22px;
			width: 21px;
		    background: url('../images/sprite.png');
		    position: absolute;
		    top: 8px;
		  	left: 8px;
		}

		.region_img{ background-position: -23px 0; }
	  	.status_img{ background-position: -45px 0; }
	  	.type_img{ background-position: -70px 0; }
	  	.param_img{ background-position: -91px 0; }
}

#options{
	border-top: #bfbcb3 dashed 1px;
}

#header{
	height: 52px;
	background: #656565;
}

#footer{
	height: 105px;
	background: #fff;
}

