*{
	margin: 0;
	padding:0;
}

body{
	font: 100%/1.5em Arial, Helvetica, sans-serif;
	color: #000;
}

hr{
	
}

div{
	width: 100%;
	padding: 0 29px 0 29px;
}

#header{
	height: 52px;
	background: #656565;
}

#footer{
	height: 105px;
}

#legend{
	height: 105px;
	background: #fff7dc;
}

